/* For narrow viewports */

@media all and (max-width: 600px) {

  ul {
    padding-left: 20px;
  }

  .page-wrapper, header {
    padding-left: 22px;
    padding-right: 22px;
  }

  header {
    padding-top: 20px;
  }

  .button {
    width: 100%;
    box-sizing: border-box;
    text-align: center;
  }

  .duration {
    float: none;
    width: auto;
    display: block;
    text-align: center;
    margin-top: 15px;
  }

  .duration:before {
    content: "";
  }
}

